# Terraform
**/.terraform/
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
*.tfplan
terraform.tfvars
*.auto.tfvars
plan.txt

# Keep the lockfile (commit this):
!.terraform.lock.hcl

# Node
node_modules/
npm-debug.log
