name: ci
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install deps
        run: cd app && npm install
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: app/Dockerfile
      - name: Terraform fmt & validate
        uses: hashicorp/setup-terraform@v3
      - run: cd terraform/envs/dev && terraform init -backend=false && terraform fmt -check && terraform validate
